@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  box-sizing: border-box;
}
:root {
  --step--4: clamp(0.60rem, calc(0.60rem + 0.01vw), 0.61rem);
  --step--3: clamp(0.72rem, calc(0.71rem + 0.05vw), 0.77rem);
  --step--2: clamp(0.87rem, calc(0.85rem + 0.09vw), 0.96rem);
  --step--1: clamp(1.04rem, calc(1.01rem + 0.16vw), 1.20rem);
  --step-0: clamp(1.25rem, calc(1.20rem + 0.25vw), 1.50rem);
  --step-1: clamp(1.50rem, calc(1.43rem + 0.38vw), 1.88rem);
  --step-2: clamp(1.80rem, calc(1.69rem + 0.54vw), 2.34rem);
  --step-3: clamp(2.16rem, calc(2.01rem + 0.77vw), 2.93rem);
  --step-4: clamp(2.59rem, calc(2.38rem + 1.07vw), 3.66rem);
  --step-5: clamp(3.11rem, calc(2.82rem + 1.47vw), 4.58rem);
}

.reverse-order-column{
  flex-direction: column-reverse;
}

.margin-block-rem{
  margin-block: 3rem;
}

.customHR{
  max-width: 8ch;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--step--1);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    place-content: center;
    place-items: center;
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

main{
  padding: 0;
  margin: 0;
  max-width: 1920px;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
  font-size: var(--step-0);
}


footer{
  background-color: #4A84C8;
  color:white;
  min-height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-block: 3rem;
  gap:1rem;
}

.NavBarContainer{
  width: 100%;
  position: sticky !important;
  position: -webkit-sticky;
  z-index: 1;
  top:0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.NavBarInfoContainer{
  width: 100%;
  display: flex;
  gap:1rem;
  justify-content: space-evenly;
  padding: 0.25rem 0 0.25rem .5rem;
  background-color: #131313;
  color: white;
}

.NavBarInfoContainer .fa{
  color: #47a3a0;
  display: block;
}
.NavBarInfo{
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  justify-content: flex-start;
}

.NavBarInfo p {
  font-size: var(--step--2);
}

.NavBarLinks{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  background-color: white;
}
.logo{
  margin-left: 2%;
  min-width: 150px;
  padding: 0.5rem;
}
.links{
  display: flex;
  flex-wrap: nowrap;
}
.links:last-child{
  margin-right:0.75rem;;
}

.linkAnchor{
  padding: 0 var(--step--4);
  font-size: var(--step--2);
  text-align: center;
}

.linkAnchor:focus-visible,.linkAnchor:hover{
  color:#47a3a0;
  outline: 2px solid #131313;
  border-radius: 3px;
}

.banner{
  position: relative;
  width: 100%;
  max-height: 50vh;
  min-height: 35vw;
  overflow: hidden;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.bannerText{
  position: absolute;
  max-width: min(60ch,90%);
}

.bannerTextAbout{
  top: 30%;
  left: 5%;
}

.bannerTextServices{
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}


.services{
  padding:1rem;
  width: fit-content;
  font-size: var(--step-5);
  background-color: #FABD00ee;
  color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dreams{
  padding:1rem;
  font-size: var(--step-2);
  background-color: #4A84C8ee;
  color:white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.aboutSubtitle{
  background-color: #4A84C8cc;
}

.heroContainer{
  width: 100%;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}

.heroPresentation{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--step-0);
}

.heroDescription{
  width: fit-content;
  margin-block: var(--step-0);
}
.heroTitle{
  font-size: var(--step-3);
  margin: 0 0 1rem 0;
}

.heroSubText{
  font-size: var(--step-0);
  font-weight: 300;
  max-width: 600px;
}

.heroText{
  font-size: var(--step--1);
  color: #7C8081;
  font-weight: 300;
  margin-block: 2rem;
  max-width: 550px;
  text-align: justify;
}

.gridContainer{
  display: flex;
  flex-wrap: wrap;
  gap:5%;
  padding: 2rem;
  place-content: center;
  place-items: flex-start;
}

.gridContainerAbout{
  margin-bottom: 4.5rem;
  margin-top: -2rem;
}

.gridCard{
  flex:1 0 30%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;  
  margin-top: 3rem;
}

.gridCardImage{
  width: 100%;
  flex: 1;
}

.gridCardInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 4;
  margin-top: 1rem;
}

.gridCardTitle{
  font-size: var(--step-1);
  font-weight: 900;
}

.gridCardText{
  font-size: var(--step--1);
  font-weight: 300;
}

.companyInfo{
  max-width: 80ch;
  text-align: center;
}

.companyName{
  font-size: var(--step-1);
}

.companyAddressEl{
  margin-top: -0.5rem;
}

.infoTitle{
  font-size: var(--step-0);
  margin: 0rem;
}

.footerConctactInfo a{
  color: whitesmoke;
  font-size: var(--step--1)
}
.NavBarInfoContainer a{
  color: whitesmoke;
  font-size: var(--step--1)
}


.footerConctactInfoContainer{
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  justify-content: flex-start;
  gap:0.5rem;
  margin-block:1rem;
}

.footerConctactInfoContainer .fa{
  color: #FABD00;
  font-size: var(--step-2);
  text-align: center;
}

@media only screen and (max-width:600px) {

.NavBarInfo{
  max-width: 25ch;
}
  
.margin-block-rem{
  margin-block: 1rem;
}

.gridContainerAbout{
  margin-bottom: 1.5rem;
  margin-top: -7rem;
}
}